/************************************************************/
/*         stylesheet for Breaking Bad tribute site         */
/*         Author: Victor de Miguel Diez                    */
/*         version: 1.0                                     */
/*         comment: project for Leguajes de Marcas - 1DAM   */
/************************************************************/

/* Aqui añadimos las fonts con un nombre para su uso más adelante */
@font-face {
    font-family: titulo;
    src: url(../fonts/Averia\ Serif\ Libre.ttf);
}
@font-face {
    font-family: textonormal;
    src: url(../fonts/Giuconda\ Regular.ttf);
}
@font-face {
    font-family: textotitulo;
    src: url(../fonts/Snowfall\ Crystals.ttf);
}

* {box-sizing: border-box;}

body {
    background-color: yellow;
    margin: 0;
    padding: 1%;
    font-family: sans-serif;
    background-image:url(../img/fondo.avif);
    background-size: cover;
}

.responsive-image {
    max-width: 70%;
    display: block; 
    margin: 5vh auto;   
}

#wrapper {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 3%;
}

h1 {
    font-family: titulo;
    text-align: center;
    border-bottom: 5px solid #E1A925;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #E1A925;
    font-size: 3.5em;
}

h2 {
    font-family: textotitulo;
    text-align: center;
    border-bottom: 5px solid #E1A925;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px #E1A925;
    font-size: 2.5em;
}

p{
    font-family: textonormal;
    font-size: 1.5em;
}

header {
    text-align: center;
    padding: 100px 0;
    margin-top: 0;
    padding-top: 0;
}

/* Acordeon de la introducción */

.accordion {
    background-color: #E1A925;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
}

.active, .accordion:hover {
    background-color: #E0BF24;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\002B'; 
    font-size: 20px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"; 
}

.container2 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Slideshow de imagenes de los personajes */

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 35%;
	list-style: none;
}

.slider img {
	width: 35%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* Sección de las temporadas con grid e imagenes */

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.col-4 {
    padding: 4%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: white;
    color: black;
    text-align: center;
}
.col-4 img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}
.col-4 p {
    margin-top: 10px;
}

/* Sección del caso español con grid e imagen */

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.col-2{
    text-align: center;
    margin: auto;
}

.col-2 img {
    max-width: 500px;
    height: auto;
    margin: auto;
}

/* Efecto overlay en la imagen */

.container {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.container a:hover {
    color: #E1A925;
}

/* Otros estilos para el layout, navbar, sections, footer, etc. */

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E1A925;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #E1A925;
}

nav {
    background-color: #333; 
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff; 
    font-weight: bold;
    font-size: 18px;
}
nav a:hover {
    color: #E1A925;
}
a:hover {
    color: #026525; 
}

/* Side navbar */

#mySidenav{
    display: none;
}


/* footer con grid */

footer {
    background-color: #1a1919;
    color: #fff;
    padding:20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 10px;
}

.col-3{
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

footer a:hover {
    color: #E1A925;
}

footer p {
    margin: auto;
    font-size: 18px;
    text-align: center;
    color: #fff; 
}

footer img {
    max-width: 150px;
    height: auto;
    margin: auto;
}
/* ventana modal en footer */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 10%;
    top: 0;
    width: 80%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

#myBtn{
    cursor: pointer;
}

/* color del texto del modal */
.modal p {
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #fff; 
}
.modal-content {
    background-color: #026525;
    margin: 15% auto; 
    padding: 25px;
    border: 1px solid #888;
    width: 80%; 
    color: black;
}
/* Boton para cerrar el modal*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Responsive */

@media only screen and (max-width: 900px) {
    h1, h2 {
        width: 100%;
        font-size: 1.6em;
    }
    body {
        font-size: 1.4em;
    }
    footer {
        font-size: 1.4em;
    }
    .grid-2 {
        display: grid;
        grid-template-columns: 100% ;
        gap: 10px;
    }
    /* Barra de navegación hamburguesa */
    #barra{
        display: none;
    }
    #mySidenav{
        display: block;
    }
    #hamburguesa{
        display: block;
        font-size:30px;
        cursor:pointer;
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: #181717b6;
        color: white;
        padding:3px;
    }
    .sidenav {
            height: 100%; 
            width: 0; 
            position: fixed; 
            z-index: 1; 
            top: 0; 
            left: 0;
            background-color: #f7d547; 
            overflow-x: hidden; 
            padding-top: 60px; 
            transition: 0.5s; 
    }
    #mySidenav nav {
        background-color: #ffff72; 
        padding: 10px 0;
    }
    .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #181717b6;
            display: block;
            transition: 0.3s;
    }
    .sidenav a:hover {
            color: #026525;
    }
    .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
    }

}
@media only screen and (max-width: 650px) {
    /* responsive movil */
    .grid-3 {
        display: grid;
        grid-template-columns: 100% ;
        gap: 10px;
    }
}
@media only screen and (max-width: 600px) {
    /* responsive movil */
    h1, h2 {
        width: 100%;
        font-size: 1.4em
    }

    #wrapper {
        width: 100%;
    }

    body {
        font-size: 1.2em;
    }

    footer {
        font-size: 1.2em;
    }
}